<div class="row">
    <div class="profile-header-container">   
        <div class="profile-header-img">
            <div class="">
                <div class="col-md-2 well">
                    <img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" />
                    <!-- badge -->
                    <div class="rank-label-container">
                        <span class="label label-default rank-label">100 puntos</span>
                    </div>
                </div>
                <div class="col-md-9">
                    <h1>Bienvenido <%= @people.name %> <br></h1>
                </div>
            </div>
        </div>
    </div> 
</div>
<h1>Demo de prueba</h1>

Tu jefe: <%= @people.boss[:name] %> <br>

Empleados:
<ul>
<% @people.employees.each do |person| %>
<li><%= person.email %></li>
<% end %>
</ul>